$img: "../../img/rss/ico.png";

#gTop{margin-bottom:15px;background:#FFF;border-bottom:1px solid #d5d5d5;box-shadow:2px 2px 2px #d5d5d5;}
#gTop .wrap{height:56px;background:url(../../img/rss/nav.png) no-repeat;}
body{background:#ededed;font-family:Arial,"Microsoft YaHei","\5b8b\4f53",sans-serif;}
a{color:#4b4b4b;font-family:Arial,"Microsoft YaHei","\5b8b\4f53",sans-serif;}
.wrap{position:relative;margin:0 auto;width:992px;}
.pack{overflow:visible;}
.pack .pic a{position:absolute;width:100%;height:100%;z-index:1;}
.vtime{position:absolute;right:0;bottom:0;padding:1px 4px 0;color:#FFF;font-size:11px;background:#000;opacity:0.5;font-weight:700;}

.bar{float:left;padding:0 15px;width:176px;border-right:1px solid #d3d3d3;}

.bar .profile{position:relative;padding-left:70px;height:75px;border-bottom:1px solid #d3d3d3;}
.bar .profile .pic{position:absolute;left:0;top:0;display:block;width:60px;height:60px;background:#9a9a9a;border-radius:3px;}
.bar .profile .pic img{width:100%;height:100%;border-radius:3px;}
.bar .profile .txt{font-weight:700;font-size:16px;}
.bar .profile .count{position:relative;margin:0;padding-left:20px;font-size:32px;}
.bar .profile .count b{position:absolute;left:0;top:10px;display:block;width:18px;height:19px;background:url($img) no-repeat;}

.bar .rss{padding:15px 0;border-bottom:1px solid #d3d3d3;font-size:14px;}
.bar .rss li{padding-bottom:20px;}
.bar .rss .all{padding:0;}
.bar .rss a{position:relative;padding-left:25px;}
.bar .rss b{position:absolute;left:0;top:0;display:block;width:16px;height:16px;background:url($img) no-repeat;}
.bar .rss .wl b{background-position:-38px 0;}
.bar .rss .history b{background-position:-72px 0;}
.bar .rss .essence b{background-position:-106px 0;}
.bar .rss .all b{background-position:-140px 0;}

.bar .item{position:relative;padding:41px 0 0;}
.bar .item .alt{position:absolute;left:0;top:15px;display:block;width:16px;height:16px;background:url($img) no-repeat -172px 0;}
.bar .item .edit{position:absolute;right:14px;top:15px;display:block;width:16px;height:16px;background:url($img) no-repeat -206px 0;}
.bar .item .mes{position:relative;padding:5px 8px;background:#FFF;border:1px solid #d8d8d8;color:#848484;}
.bar .item .mes .cancel{position:absolute;top:5px;right:8px;color:#819fc0}
.bar .item .list{width:160px;}
.bar .item .list li{position:relative;padding:5px 0;}
.bar .item .list a{display:block;}
.bar .item .list small{position:absolute;top:5px;right:0;font-size:11px;color:#999;}
.bar .item .list .line{margin:5px 0;padding:0;height:0;overflow:hidden;border-bottom:1px dotted #d3d3d3;}
.bar .item .list .del{position:absolute;top:4px;right:0;width:16px;height:17px;background:url($img) no-repeat -240px 0;}
.bar .item .list .del:hover{background-position:-257px 0;}

.main{float:left;position:relative;left:-1px;padding:0 14px 0 15px;width:755px;border-left:1px solid #d3d3d3;}

.main .item{position:relative;margin-bottom:15px;padding:10px 15px 10px 200px;background:#FFF;border:1px solid #FFF;box-shadow:2px 2px 2px #d5d5d5;}
.main .item .p{position:absolute;left:0;top:0;display:block;width:185px;height:100%;overflow:hidden;}
.main .item .p img{width:100%;}
.main .item .label{position:absolute;left:157px;top:0;display:block;width:28px;height:28px;background:url($img) no-repeat -247px -20px;}
.main .item .t{font-size:24px;}
.main .item .info{margin:0 0 20px 0;color:#999;font-size:14px;}
.main .item .info .count{margin-left:11px;padding-left:10px;border-left:1px solid #d3d3d3}
.main .item .intro{margin-bottom:20px;color:#999;line-height:1.5;}
.main .item ol{padding:0;}
.main .item .vlist{position:relative;left:-2px;top:-2px;padding:2px 0 0 2px;width:525px;overflow:hidden;}
.main .item .vlist li{float:left;padding-right:15px;width:160px;}
.main .item .vlist .empty{padding:0;text-align:center;height:90px;line-height:90px;color:#999;font-size:14px;background:url($img) no-repeat 0 -60px;}
.main .item .vlist .pic{position:relative;margin-bottom:5px;height:90px;}
.main .item .vlist .pic img{width:100%;}
.main .item .vlist .new{position:absolute;left:-2px;top:-2px;display:block;width:36px;height:37px;background:url(../../img/rss/ico24.png) no-repeat;-background:url($img) no-repeat -120px -20px;}
.main .item .prev{position:absolute;top:68px;right:7px;display:block;width:29px;height:39px;background:url($img) no-repeat -60px -20px;}
.main .item .next{position:absolute;top:110px;right:7px;display:block;width:29px;height:39px;background:url($img) no-repeat 0 -20px;}
.main .item .subs{position:absolute;top:10px;right:15px;color:#999;height:25px;line-height:25px;}
.main .item .subs .unlike{float:left;margin-right:10px;padding-right:10px;border-right:1px solid #d9d9d9;}
.main .item .subs .sub{float:left;position:relative;margin-right:10px;padding-left:23px;width:53px;height:25px;background:#8eb406;text-align:center;line-height:25px;color:#FFF;}
.main .item .subs .sub b{position:absolute;left:10px;top:5px;display:block;width:13px;height:14px;background:url($img) no-repeat -288px 0;}
.main .item .subs .num{float:left;position:relative;padding:0 5px;height:23px;line-height:23px;background:#EEE;border:1px solid #d3d3d3;}
.main .item .subs .num b{position:absolute;left:-5px;top:8px;display:block;width:5px;height:7px;background:url($img) no-repeat -301px 0;}

.main .item.mv{height:257px;}
.main .item.mv .vlist .txt{font-size:14px;}

.main .item.podcast{height:165px;}
.main .item.podcast .info{margin-bottom:10px;}

.main .item.tv .alist{width:512px;}
.main .item.tv .alist li{float:left;position:relative;margin:0 4px 4px 0;padding:0;width:60px;height:35px;background:#ededed;text-align:center;line-height:34px;}
.main .item.tv .alist .new{position:absolute;left:0;top:0;display:block;width:12px;height:12px;background:url($img) no-repeat -274px 0;}
.main .item.tv .prev{top:134px;}
.main .item.tv .next{top:176px;}

.main .item.zy .vlist .tag{color:#999;}
.main .item.zy .prev{top:134px;}
.main .item.zy .next{top:176px;}

.detail .ti{position:relative;margin-bottom:20px;padding:25px;height:125px;}
.detail .ti .bgi{position:absolute;left:0;top:0;width:100%;height:100%;}
.detail .ti .bgc{position:absolute;left:0;top:0;width:100%;height:100%;background:#999;opacity:0.8;}
.detail .ti .c{position:relative;z-index:3;padding-left:150px;color:#FFF;}
.detail .ti .c .pic{position:absolute;left:0;top:0;display:block;width:125px;height:125px;overflow:hidden;}
.detail .ti .c .pic img{width:100%;height:100%;}
.detail .ti .c .txt{color:#FFF;font-size:28px;line-height:1;}
.detail .ti .c p{margin:10px 0;font-size:16px;}
.detail .ti .c .sub{position:relative;display:inline-block;width:76px;height:25px;color:#FFF;line-height:25px;background:#8eb406;text-align:center;font-weight:700;}
.detail .ti .c .subed{padding-left:20px;width:56px;}
.detail .ti .c .subed b{position:absolute;left:8px;top:8px;display:block;width:13px;height:10px;background:url($img) no-repeat -217px -31px;}
.detail .ti .c .count{display:inline-block;width:60px;height:25px;background:url($img) no-repeat -156px -20px;line-height:25px;text-align:center;color:#999;font-weight:700;}
.detail .vlist{position:relative;left:-2px;top:-2px;padding:2px 0 0 2px;width:795px;}
.detail .vlist li{float:left;margin:0 40px 20px 0;width:225px;height:190px;background:#FFF;}
.detail .vlist .pic{margin-bottom:10px;height:126px;}
.detail .vlist img{width:100%;}
.detail .vlist .txt{padding:0 10px;color:#222;font-size:14px;}
.detail .vlist .info{position:relative;margin-top:5px;padding-left:10px;color:#999;}
.detail .vlist .count{position:relative;padding-left:20px;}
.detail .vlist .count b{position:absolute;left:0;top:-1px;display:block;width:15px;height:15px;background:url($img) no-repeat -231px -20px;}
.detail .vlist .time{position:absolute;right:10px;top:0;}
.detail .vlist .new{position:absolute;left:-2px;top:-2px;display:block;width:36px;height:37px;background:url(../../img/rss/ico24.png) no-repeat;-background:url($img) no-repeat -120px -20px;}
.detail h3{margin-bottom:10px;font-size:18px;}
.detail .intro{margin-bottom:20px;color:#999;}
.detail .nr{margin-bottom:20px;padding:10px;background:#FFF;border:1px solid #d8d8d8;font-size:14px;color:#333;}
.detail .copy{position:relative;margin-bottom:20px;padding:10px 10px 10px 450px;height:228px;background:#FFF;}
.detail .copy .pic{position:absolute;left:0;top:0;width:0;width:432px;height:100%;}
.detail .copy .pic img{width:100%;height:100%;}
.detail .copy h3{font-size:24px;}
.detail .copy p{color:#999;line-height:1.5;}
.detail .copy .info{position:relative;margin-top:5px;color:#999;font-size:14px;}
.detail .copy .info .count{position:relative;padding-left:20px;}
.detail .copy .info .count b{position:absolute;left:0;top:-1px;display:block;width:15px;height:15px;background:url($img) no-repeat -231px -20px;}
.detail .copy .info .time{position:absolute;right:0;top:0;}

.detail .ti.mv .c{padding-left:110px;}
.detail .ti.mv .c .pic{width:85px;}

.play{/*position:fixed;left:0;top:0;*/position:relative;width:100%;height:100%;background:#3f3f3f;color:#c1c1c1;}

.play .ti{padding-left:15px;height:44px;line-height:44px;font-size:18px;}
.play .ti a{position:relative;top:2px;display:inline-block;margin-left:10px;width:18px;height:17px;background:url($img) no-repeat -276px -20px;}
.play .btn{position:absolute;top:18px;right:15px;overflow:hidden;}
.play .btn li{float:left;position:relative;left:-1px;padding:0 8px;width:26px;height:26px;border-left:1px solid #515151;text-align:center;}
.play .btn a{position:relative;top:8px;display:inline-block;width:13px;height:13px;background:url($img) no-repeat -295px -20px;}
.play .btn .close{background-position:-310px -20px;}

.play .video{margin:0 auto;width:688px;height:387px;background:#000;border:1px solid #3c3c3c;box-shadow:0 0 5px #222;}

.play .fn{position:relative;padding:20px 15px 0;height:34px;font-size:16px;}
.play .fn a{float:left;position:relative;margin-right:30px;padding-left:20px;color:#c1c1c1;}
.play .fn a b{position:absolute;left:0;top:1px;display:block;width:13px;height:17px;background:url($img) no-repeat -323px -20px;}
.play .fn .add b{top:2px;width:16px;background-position:-338px -20px;}
.play .fn .mobile b{top:2px;width:11px;background-position:-354px -20px;}
.play .fn .share b{top:2px;width:16px;background-position:-366px -20px;}
.play .fn .list{float:none;position:absolute;top:20px;right:15px;margin:0;}
.play .fn .list b{top:4px;width:16px;background-position:-383px -20px;}

.play .bg{position:absolute;left:0;bottom:0;width:100%;height:180px;background:#222;}
.play .panel{position:relative;padding:20px 10px;height:140px;}
.play .panel .icon{position:absolute;top:-11px;display:block;width:29px;height:25px;background:url($img) no-repeat -161px -60px;}
.play .panel.list .icon{right:40px;}
.play .panel .prev{position:absolute;left:10px;top:45px;display:block;width:26px;height:39px;background:url($img) no-repeat -221px -60px;}
.play .panel .next{position:absolute;right:10px;top:45px;display:block;width:26px;height:39px;background:url($img) no-repeat -275px -60px;}
.play .panel .vlist{margin:0 auto;width:896px;overflow:hidden;}
.play .panel .vlist ol{padding:0;width:99999999999px;}
.play .panel .vlist li{float:left;margin-right:24px;width:160px;height:90px;background:#FFF;}
.play .panel .vlist .pic{height:90px;}
.play .panel .vlist img{width:100%;}
.play .panel .vlist .time{position:absolute;right:10px;top:0;}
.play .panel .scroll{position:relative;margin-top:30px;height:10px;background:#434343;border-radius:5px;}
.play .panel .scroll .drag{position:absolute;left:100px;top:0;width:100px;height:10px;background:#b4b4b4;border-radius:5px;}
.play .bg.add,.play .bg.mobile{background:#cfcfcf;}
.play .panel.add .ico{position:absolute;left:120px;top:30px;display:block;width:60px;height:60px;background:url($img) no-repeat 0 -151px;}
.play .panel.add .icon{left:95px;background-position:-191px -60px;}
.play .panel.add ul{margin-left:250px;width:470px;font-size:14px;}
.play .panel.add ul li{margin-bottom:4px;padding:0 20px;height:26px;line-height:26px;background:#DDD;border-radius:3px;}
.play .panel.add ul a{color:#222;}
.play .panel.add form{margin-left:250px;height:26px;}
.play .panel.add form .text{width:390px;background:#FFF;border:none;border-top:1px solid #ababab;}
.play .panel.add form .sub{padding:2px 2px 1px;background:#FFF;color:#444;border:none;}
.play .panel.mobile .ico{position:absolute;left:120px;top:20px;display:block;width:40px;height:65px;background:url($img) no-repeat -61px -151px;}
.play .panel.mobile .icon{left:185px;background-position:-191px -60px;}
.play .panel.mobile .code{position:absolute;left:250px;top:20px;width:100px;height:100px;}
.play .panel.mobile .txt{margin-left:360px;color:#222;}
.play .panel.mobile .txt h3{margin-bottom:10px;color:#808080;}
.play .panel.mobile .txt p{margin:0;font-size:14px;line-height:1.5;}

.page{*zoom:1;height:26px;color:#222;text-align:center;}
.page .prev,.page .next{display:inline-block;padding:0 10px;height:26px;overflow:hidden;line-height:26px;background:#FFF;}
.page span.prev,.page span.next{color:#999;}
.page ol{display:inline-block;margin-left:6px;padding:0;height:26px;overflow:hidden;}
.page li{display:inline-block;margin-right:6px;width:26px;height:26px;background:#FFF;line-height:26px;text-align:center;}
.page .current{background:#b9b8b8;color:#FFF;}