       
           
    div{margin:1 2}
  
div{margin:1 3}  div{margin:1 4}  

             div{margin:2 3}  div{margin:2 4}           
.list .b0{animation:bn0 .2s;-webkit-animation:1 .2s}
  .list .b1{animation:bn1 .2s;-webkit-animation:2 .2s}  .list .b2{animation:bn2 .2s;-webkit-animation:3 .2s}