article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}
audio,canvas,video{display:inline-block}
audio:not([controls]){display:none;height:0}
[hidden]{display:none}
html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body{margin:0}
a:focus{outline:dotted thin}
a:active,a:hover{outline:0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:700}
dfn{font-style:italic}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}
q{quotes:none}
q:after,q:before{content:'';content:none}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
dd,dl,dt,menu,ol,ul{margin:0;padding:0;list-style-type:none}
img{border:0;-ms-interpolation-mode:bicubic}
svg:not(:root){overflow:hidden}
figure,form{margin:0}
fieldset{margin:0;padding:0}
legend{border:0;padding:0;white-space:normal}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}
button,input{line-height:normal}
button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}
button[disabled],input[disabled]{cursor:default}
input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}
input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
textarea{overflow:auto;vertical-align:top}
table{border-collapse:collapse;border-spacing:0}
th{font-weight:400}
.media>.mediaBody{display:table-cell;vertical-align:top;width:10000px!important}
.box,.box .boxFoot,.box .boxHead,.form .field,.line,.media{zoom:1}
.box .boxFoot:after,.box .boxFoot:before,.box .boxHead:after,.box .boxHead:before,.box:after,.box:before,.form .field:after,.form .field:before,.line:after,.line:before,.media:after,.media:before{content:" ";display:table}
.box .boxFoot:after,.box .boxHead:after,.box:after,.form .field:after,.line:after,.media:after{clear:both}
.form .fieldGroupInline>li,.listInline>li,.listInlineDivider li{display:inline-block}
.table table .txtC,.table table tr .txtC,.txtC{text-align:center}
.table table .txtL,.table table tr .txtL,.txtL{text-align:left}
.table table .txtR,.table table tr .txtR,.txtR{text-align:right}
.table table .txtT,.table table tr .txtT,.txtT{vertical-align:top}
.table table .txtB,.table table tr .txtB,.txtB{vertical-align:bottom}
.table table .txtM,.table table tr .txtM,.txtM{vertical-align:middle}
.hideVisually{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}
.hideVisually.focusable:active,.hideVisually.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto}
.hideFully{display:none!important;visibility:hidden}
html{font-size:100%}
body{font-size:14px;font-size:.875rem;line-height:1.5;color:#313131}
body,input,select,textarea{font-family:Arial,sans-serif}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{font-style:normal}
.h1,h1{font-size:20px;font-size:1.25rem}
.h2,h2{font-size:17px;font-size:1.0625rem}
.h3,h3{font-size:14px;font-size:.875rem}
.h4,.h5,h4,h5{font-size:13px;font-size:.8125rem}
.h6,h6{font-size:11px;font-size:.6875rem}
code,pre{font-family:Consolas,Monaco,"Lucida Console",monospace}
.typeHighlight{color:#1d4a83}
.typeLowlight{color:#999}
a{color:#1d4a83}
a:focus,a:hover{color:#8ebaf4}
.cols1of12{width:8.33333%!important}
.cols2of12{width:16.66667%!important}
.cols3of12{width:25%!important}
.cols4of12{width:33.33333%!important}
.cols5of12{width:41.66667%!important}
.cols6of12{width:50%!important}
.cols7of12{width:58.33333%!important}
.cols8of12{width:66.66667%!important}
.cols9of12{width:75%!important}
.cols10of12{width:83.33333%!important}
.cols11of12{width:91.66667%!important}
.cols12of12{width:100%!important}
.line{margin-left:-20px}
.line .col{min-height:1px;float:left;zoom:1;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding-left:20px}
.colExt{float:right;zoom:1;padding:0 0 0 20px}
.col:last-child{float:none;display:table-cell;vertical-align:top;width:10000px!important}
.hide{display:none!important}
.show{display:inherit!important}
@media only screen and (max-width:56.25em){.lgHide{display:none!important}
.lgShow{display:inherit!important}
.lgCollapse,.lgCollapse>.col{width:auto!important;display:block!important;float:none!important}
.lgDeepExpand .col,.lgExpand>.col{width:auto!important}
.line{margin-left:-20px}
.line .col{padding-left:20px}
.lgCols1of12{width:8.33333%!important}
.lgCols2of12{width:16.66667%!important}
.lgCols3of12{width:25%!important}
.lgCols4of12{width:33.33333%!important}
.lgCols5of12{width:41.66667%!important}
.lgCols6of12{width:50%!important}
.lgCols7of12{width:58.33333%!important}
.lgCols8of12{width:66.66667%!important}
.lgCols9of12{width:75%!important}
.lgCols10of12{width:83.33333%!important}
.lgCols11of12{width:91.66667%!important}
.lgCols12of12{width:100%!important}
}
@media only screen and (max-width:41em){.medHide{display:none!important}
.medShow{display:inherit!important}
.medCollapse,.medCollapse>.col{width:auto!important;display:block!important;float:none!important}
.medDeepExpand .col,.medExpand>.col{width:auto!important}
.line{margin-left:-20px}
.line .col{padding-left:20px}
.medCols1of12{width:8.33333%!important}
.medCols2of12{width:16.66667%!important}
.medCols3of12{width:25%!important}
.medCols4of12{width:33.33333%!important}
.medCols5of12{width:41.66667%!important}
.medCols6of12{width:50%!important}
.medCols7of12{width:58.33333%!important}
.medCols8of12{width:66.66667%!important}
.medCols9of12{width:75%!important}
.medCols10of12{width:83.33333%!important}
.medCols11of12{width:91.66667%!important}
.medCols12of12{width:100%!important}
}
@media only screen and (max-width:25em){.smHide{display:none!important}
.smShow{display:inherit!important}
.smCollapse,.smCollapse>.col{width:auto!important;display:block!important;float:none!important}
.smDeepExpand .col,.smExpand>.col{width:auto!important}
.line{margin-left:-20px}
.line .col{padding-left:20px}
.smCols1of12{width:8.33333%!important}
.smCols2of12{width:16.66667%!important}
.smCols3of12{width:25%!important}
.smCols4of12{width:33.33333%!important}
.smCols5of12{width:41.66667%!important}
.smCols6of12{width:50%!important}
.smCols7of12{width:58.33333%!important}
.smCols8of12{width:66.66667%!important}
.smCols9of12{width:75%!important}
.smCols10of12{width:83.33333%!important}
.smCols11of12{width:91.66667%!important}
.smCols12of12{width:100%!important}
}
.box{position:relative}
.box .boxBody,.box .boxFoot,.box .boxHead{padding:0 20px}
.boxBasic{border-radius:6px}
hr{border:none;border-bottom:1px solid #1d4a83}
ol,ul{list-style-type:none}
ol>li,ul>li{margin:.2em 0}
.lvn>li{padding-top:0!important;padding-bottom:0!important}
.lvs>li{padding-top:5px!important;padding-bottom:5px!important}
.lvm>li{padding-top:10px!important;padding-bottom:10px!important}
.lvl>li{padding-top:20px!important;padding-bottom:20px!important}
.lhn>li{padding-left:0!important;padding-right:0!important}
.lhs>li{padding-left:5px!important;padding-right:5px!important}
.lhm>li{padding-left:10px!important;padding-right:10px!important}
.lhl>li{padding-left:20px!important;padding-right:20px!important}
.listBordered>li{padding:10px;border-top:1px solid #999}
.listBordered>li:first-child{border-top:1px solid transparent}
.listBulleted>li{list-style-type:disc;margin-left:1.3em}
.listInline>li{vertical-align:middle;padding-right:10px}
.listInlineDivider li{border-left:solid 2px #999;padding:0 .4em 0 .65em;margin:0}
.listInlineDivider:first-child{border:none;padding-left:0}
.listOrdered li{margin-left:1.4em;list-style-type:decimal}
.media>.mediaImg{float:left;margin-right:10px}
.media>.mediaImg>img{display:block}
.media>.mediaImgExt{float:right;margin-left:10px;margin-right:0}
.mediaInline{vertical-align:middle}
.mediaInline>img,.mediaInline>span{display:inline-block;vertical-align:middle}
.table{width:100%}
.table thead th{font-size:14px;font-size:.875rem;font-weight:700;color:#313131}
.table td,.table th{padding:8px}
.tan td,.tan th{padding:0}
.tas td,.tas th{padding:5px}
.tam td,.tam th{padding:10px}
.tal td,.tal th{padding:20px}
.tvn td,.tvn th{padding-top:0;padding-bottom:0}
.tvs td,.tvs th{padding-top:5px;padding-bottom:5px}
.tvm td,.tvm th{padding-top:10px;padding-bottom:10px}
.tvl td,.tvl th{padding-top:20px;padding-bottom:20px}
.thn td,.thn th{padding-left:0;padding-right:0}
.ths td,.ths th{padding-left:5px;padding-right:5px}
.thm td,.thm th{padding-left:10px;padding-right:10px}
.thl td,.thl th{padding-left:20px;padding-right:20px}
.form .select select,.form .text input,.form .text textarea{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:100%;padding:4px;border:1px solid #666}
.form .fieldGroup,.form .fieldGroupInline,.form .fieldItem{display:table-cell;width:10000px}
::-webkit-input-placeholder{color:#999}
:-moz-placeholder{color:#999}
:-ms-input-placeholder{color:#999}
.placeholder{color:#999}
.form .col :first-child{margin-top:0}
.form .col :last-child{margin-bottom:0}
.form .fieldLabel{margin-bottom:2px;min-height:1px;display:block;cursor:pointer;font-weight:700}
.form .labelLeft .fieldLabel,.form label.labelLeft{width:30%;float:left;padding:4px 13px 4px 0;text-align:right}
.form .select select,.form .text input{width:100%}
.form .checkbox,.form .radio{position:relative}
.form .checkbox label,.form .radio label{display:block;width:auto;padding-left:1.4em;vertical-align:middle}
.form .checkbox input,.form .radio input{margin-right:5px;padding:0;float:left;position:relative;top:4px;border:0;line-height:1.5em;vertical-align:middle}
.form .checkbox input[type=radio],.form .radio input[type=radio]{top:4px}
@media screen and (-webkit-min-device-pixel-ratio:0){.form .checkbox input,.form .radio input{top:.35em}
.form .checkbox input[type=radio],.form .radio input[type=radio]{left:1px}
}
.form .text textarea{width:100%;padding:8px}
.form .fieldGroup{margin:0}
.form .fieldGroup>li{margin:5px 0}
.form .fieldGroup>li>label{display:block;margin-bottom:2px}
.form .fieldGroup:after,.form .fieldGroup:before{display:table;content:"";clear:both}
.form .fieldGroupInline>li{margin-left:13px;float:none}
.form .fieldGroupInline>li:first-child{margin-left:0}
.form .fieldGroupInline>li>label{display:inline-block;margin:0}
.form .fieldGroupInline .fieldItem,.form .fieldGroupInline label{vertical-align:middle;float:none;display:inline-block;width:auto}
.form .fieldGroupInline .checkbox input,.form .fieldGroupInline .radio input{top:auto;float:none;vertical-align:middle}
.form .fieldGroupInline .checkbox label,.form .fieldGroupInline .radio label{padding-left:0}
.form .fieldRange>li{display:table-cell;vertical-align:middle}
.form .fieldRange .rangeLabel{padding:0 10px}
button{background:0 0;border:0}
.btn{padding:.5em 1em;margin:0;display:inline-block;font-weight:400;font-size:13px;font-size:.8125rem;text-decoration:none;cursor:pointer;border:0;background:0 0;text-align:center}
.btnDefault{border:1px solid #999;background:#ddd;border-radius:3px}
body{background:#fff}
.container{width:90%;max-width:960px;margin:0 auto}
.logo{font-size:40px;font-size:2.5rem}
.footer .container{padding:.5em 0 0;border-top:1px solid #999}
.box,.form,.form .field,.h1,.h2,.h3,.h4,.h5,.h6,.listBordered,.listBulleted,.listInline,.listInlineDivider,.listOrdered,.media,.table,h1,h2,h3,h4,h5,h6,p{margin-top:1.5em;margin-bottom:1.5em}
table .media,table blockquote,table dl,table h1,table h2,table h3,table h4,table h5,table h6,table ol,table p,table pre,table ul{margin-top:0;margin-bottom:0}
.pan{padding:0!important}
.man{margin:0!important}
.pvn{padding-top:0!important;padding-bottom:0!important}
.mvn{margin-top:0!important;margin-bottom:0!important}
.phn{padding-left:0!important;padding-right:0!important}
.mhn{margin-left:0!important;margin-right:0!important}
.ptn{padding-top:0!important}
.mtn{margin-top:0!important}
.prn{padding-right:0!important}
.mrn{margin-right:0!important}
.pbn{padding-bottom:0!important}
.mbn{margin-bottom:0!important}
.pln{padding-left:0!important}
.mln{margin-left:0!important}
.pas{padding:5px!important}
.mas{margin:5px!important}
.pvs{padding-top:5px!important;padding-bottom:5px!important}
.mvs{margin-top:5px!important;margin-bottom:5px!important}
.phs{padding-left:5px!important;padding-right:5px!important}
.mhs{margin-left:5px!important;margin-right:5px!important}
.pts{padding-top:5px!important}
.mts{margin-top:5px!important}
.prs{padding-right:5px!important}
.mrs{margin-right:5px!important}
.pbs{padding-bottom:5px!important}
.mbs{margin-bottom:5px!important}
.pls{padding-left:5px!important}
.mls{margin-left:5px!important}
.pam{padding:7px!important}
.mam{margin:7px!important}
.pvm{padding-top:7px!important;padding-bottom:7px!important}
.mvm{margin-top:7px!important;margin-bottom:7px!important}
.phm{padding-left:7px!important;padding-right:7px!important}
.mhm{margin-left:7px!important;margin-right:7px!important}
.ptm{padding-top:7px!important}
.mtm{margin-top:7px!important}
.prm{padding-right:7px!important}
.mrm{margin-right:7px!important}
.pbm{padding-bottom:7px!important}
.mbm{margin-bottom:7px!important}
.plm{padding-left:7px!important}
.mlm{margin-left:7px!important}
.pal{padding:11px!important}
.mal{margin:11px!important}
.pvl{padding-top:11px!important;padding-bottom:11px!important}
.mvl{margin-top:11px!important;margin-bottom:11px!important}
.phl{padding-left:11px!important;padding-right:11px!important}
.mhl{margin-left:11px!important;margin-right:11px!important}
.ptl{padding-top:11px!important}
.mtl{margin-top:11px!important}
.prl{padding-right:11px!important}
.mrl{margin-right:11px!important}
.pbl{padding-bottom:11px!important}
.mbl{margin-bottom:11px!important}
.pll{padding-left:11px!important}
.mll{margin-left:11px!important}
.paxl{padding:21px!important}
.maxl{margin:21px!important}
.pvxl{padding-top:21px!important;padding-bottom:21px!important}
.mvxl{margin-top:21px!important;margin-bottom:21px!important}
.phxl{padding-left:21px!important;padding-right:21px!important}
.mhxl{margin-left:21px!important;margin-right:21px!important}
.ptxl{padding-top:21px!important}
.mtxl{margin-top:21px!important}
.prxl{padding-right:21px!important}
.mrxl{margin-right:21px!important}
.pbxl{padding-bottom:21px!important}
.mbxl{margin-bottom:21px!important}
.plxl{padding-left:21px!important}
.mlxl{margin-left:21px!important}
