article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}
audio,canvas,video{display:inline-block}
audio:not([controls]){display:none;height:0}
[hidden]{display:none}
body,figure,form{margin:0}
a:focus{outline:dotted thin}
a:active,a:hover{outline:0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:700}
dfn{font-style:italic}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}
q{quotes:none}
q:after,q:before{content:'';content:none}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
dd,dl,dt,menu,ol,ul,ol,ul{list-style-type:none}
dd,dl,dt,menu,ol,ul{margin:0;padding:0}
img{-ms-interpolation-mode:bicubic;border:0}
svg:not(:root){overflow:hidden}
fieldset{margin:0;padding:0}
legend{border:0;padding:0;white-space:normal}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}
button,input{line-height:normal}
button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}
button[disabled],input[disabled]{cursor:default}
input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}
input[type=search]{-moz-box-sizing:content-box;-webkit-appearance:textfield;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
textarea,.media>.mediaBody,.table table .txtT,.table table tr .txtT,.txtT{vertical-align:top}
textarea{overflow:auto}
table{border-collapse:collapse;border-spacing:0}
th{font-weight:400}
.media>.mediaBody{display:table-cell;width:10000px!important}
.box,.box .boxFoot,.box .boxHead,.form .field,.line,.media{zoom:1}
.box .boxFoot:after,.box .boxFoot:before,.box .boxHead:after,.box .boxHead:before,.box:after,.box:before,.form .field:after,.form .field:before,.line:after,.line:before,.media:after,.media:before{content:" ";display:table}
.box .boxFoot:after,.box .boxHead:after,.box:after,.form .field:after,.line:after,.media:after{clear:both}
.form .fieldGroupInline>li,.listInline>li,.listInlineDivider li{display:inline-block}
.table table .txtC,.table table tr .txtC,.txtC{text-align:center}
.table table .txtL,.table table tr .txtL,.txtL{text-align:left}
.table table .txtR,.table table tr .txtR,.txtR{text-align:right}
.table table .txtB,.table table tr .txtB,.txtB{vertical-align:bottom}
.table table .txtM,.table table tr .txtM,.txtM{vertical-align:middle}
.hideVisually{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}
.hideVisually.focusable:active,.hideVisually.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto}
.hideFully,.hide{display:none!important}
.hideFully{visibility:hidden}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;font-size:100%}
body{color:#313131;font-size:.875rem;font-size:14px;line-height:1.5}
body,input,select,textarea{font-family:Arial,sans-serif}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{font-style:normal}
.h1,h1{font-size:20px;font-size:1.25rem}
.h2,h2{font-size:17px;font-size:1.0625rem}
.h3,h3{font-size:14px;font-size:.875rem}
.h4,.h5,h4,h5{font-size:13px;font-size:.8125rem}
.h6,h6{font-size:11px;font-size:.6875rem}
code,pre{font-family:Consolas,Monaco,"Lucida Console",monospace}
.typeHighlight{color:#1d4a83}
.typeLowlight{color:#999}
a{color:#1d4a83}
a:focus,a:hover{color:#8ebaf4}
.cols1of12{width:8.33333%!important}
.cols2of12{width:16.66667%!important}
.cols3of12{width:25%!important}
.cols4of12{width:33.33333%!important}
.cols5of12{width:41.66667%!important}
.cols6of12{width:50%!important}
.cols7of12{width:58.33333%!important}
.cols8of12{width:66.66667%!important}
.cols9of12{width:75%!important}
.cols10of12{width:83.33333%!important}
.cols11of12{width:91.66667%!important}
.cols12of12{width:100%!important}
.line{margin-left:-20px}
.line .col,.form .select select,.form .text input,.form .text textarea{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box}
.line .col{float:left;min-height:1px;padding-left:20px;zoom:1}
.colExt{float:right;padding:0 0 0 20px;zoom:1}
.col:last-child{display:table-cell;float:none;vertical-align:top;width:10000px!important}
.show{display:inherit!important}
.lgCollapse,.lgCollapse>.col,.lgCols10of12,.lgCols11of12,.lgCols12of12,.lgCols1of12,.lgCols2of12,.lgCols3of12,.lgCols4of12,.lgCols5of12,.lgCols6of12,.lgCols7of12,.lgCols8of12,.lgCols9of12,.lgDeepExpand .col,.lgExpand>.col,.lgHide,.lgShow,.line,.line,.line,.line .col,.line .col,.line .col,.medCollapse,.medCollapse>.col,.medCols10of12,.medCols11of12,.medCols12of12,.medCols1of12,.medCols2of12,.medCols3of12,.medCols4of12,.medCols5of12,.medCols6of12,.medCols7of12,.medCols8of12,.medCols9of12,.medDeepExpand .col,.medExpand>.col,.medHide,.medShow,.smCollapse,.smCollapse>.col,.smCols10of12,.smCols11of12,.smCols12of12,.smCols1of12,.smCols2of12,.smCols3of12,.smCols4of12,.smCols5of12,.smCols6of12,.smCols7of12,.smCols8of12,.smCols9of12,.smDeepExpand .col,.smExpand>.col,.smHide,.smShow{display:none!important;display:inherit!important;display:block!important;float:none!important;margin-left:-20px;padding-left:20px;width:auto!important;width:auto!important;width:8.33333%!important;width:16.66667%!important;width:25%!important;width:33.33333%!important;width:41.66667%!important;width:50%!important;width:58.33333%!important;width:66.66667%!important;width:75%!important;width:83.33333%!important;width:91.66667%!important;width:100%!important}
.box,.form .checkbox,.form .radio{position:relative}
.box .boxBody,.box .boxFoot,.box .boxHead{padding:0 20px}
.boxBasic{border-radius:6px}
hr{border:none;border-bottom:1px solid #1d4a83}
ol>li,ul>li{margin:.2em 0}
.lvn>li{padding-bottom:0!important;padding-top:0!important}
.lvs>li,.pvs{padding-bottom:5px!important;padding-top:5px!important}
.lvm>li{padding-bottom:10px!important;padding-top:10px!important}
.lvl>li{padding-bottom:20px!important;padding-top:20px!important}
.lhn>li{padding-left:0!important;padding-right:0!important}
.lhs>li{padding-left:5px!important;padding-right:5px!important}
.lhm>li{padding-left:10px!important;padding-right:10px!important}
.lhl>li{padding-left:20px!important;padding-right:20px!important}
.listBordered>li{border-top:1px solid #999;padding:10px}
.listBordered>li:first-child{border-top:1px solid transparent}
.listBulleted>li{list-style-type:disc;margin-left:1.3em}
.listInline>li,.mediaInline{vertical-align:middle}
.listInline>li{padding-right:10px}
.listInlineDivider li{border-left:solid 2px #999;margin:0;padding:0 .4em 0 .65em}
.listInlineDivider:first-child{border:none;padding-left:0}
.listOrdered li{list-style-type:decimal;margin-left:1.4em}
.media>.mediaImg{float:left;margin-right:10px}
.media>.mediaImg>img{display:block}
.media>.mediaImgExt{float:right;margin-left:10px;margin-right:0}
.mediaInline>img,.mediaInline>span{display:inline-block;vertical-align:middle}
.form .select select,.form .text input,.table{width:100%}
.table thead th{color:#313131;font-size:.875rem;font-size:14px;font-weight:700}
.table td,.table th{padding:8px}
.tan td,.tan th{padding:0}
.tas td,.tas th{padding:5px}
.tam td,.tam th{padding:10px}
.tal td,.tal th{padding:20px}
.tvn td,.tvn th{padding-bottom:0;padding-top:0}
.tvs td,.tvs th{padding-bottom:5px;padding-top:5px}
.tvm td,.tvm th{padding-bottom:10px;padding-top:10px}
.tvl td,.tvl th{padding-bottom:20px;padding-top:20px}
.thn td,.thn th{padding-left:0;padding-right:0}
.ths td,.ths th{padding-left:5px;padding-right:5px}
.thm td,.thm th{padding-left:10px;padding-right:10px}
.thl td,.thl th{padding-left:20px;padding-right:20px}
.form .select select,.form .text input,.form .text textarea{border:1px solid #666;padding:4px;width:100%}
.form .fieldGroup,.form .fieldGroupInline,.form .fieldItem{display:table-cell;width:10000px}
.placeholder{color:#999}
.form .col :first-child{margin-top:0}
.form .col :last-child{margin-bottom:0}
.form .fieldLabel{cursor:pointer;display:block;font-weight:700;margin-bottom:2px;min-height:1px}
.form .labelLeft .fieldLabel,.form label.labelLeft{float:left;padding:4px 13px 4px 0;text-align:right;width:30%}
.form .checkbox label,.form .radio label{display:block;padding-left:1.4em;vertical-align:middle;width:auto}
.form .checkbox input,.form .radio input{border:0;float:left;line-height:1.5em;margin-right:5px;padding:0;position:relative;top:4px;vertical-align:middle}
.form .checkbox input[type=radio],.form .radio input[type=radio]{top:4px}
.form .checkbox input,.form .checkbox input[type=radio],.form .radio input,.form .radio input[type=radio]{left:1px;top:.35em}
.form .text textarea{padding:8px;width:100%}
.form .fieldGroup{margin:0}
.form .fieldGroup>li{margin:5px 0}
.form .fieldGroup>li>label{display:block;margin-bottom:2px}
.form .fieldGroup:after,.form .fieldGroup:before{clear:both;content:"";display:table}
.form .fieldGroupInline>li{float:none;margin-left:13px}
.form .fieldGroupInline>li:first-child{margin-left:0}
.form .fieldGroupInline>li>label{display:inline-block;margin:0}
.form .fieldGroupInline .fieldItem,.form .fieldGroupInline label{display:inline-block;float:none;vertical-align:middle;width:auto}
.form .fieldGroupInline .checkbox input,.form .fieldGroupInline .radio input{float:none;top:auto;vertical-align:middle}
.form .fieldGroupInline .checkbox label,.form .fieldGroupInline .radio label{padding-left:0}
.form .fieldRange>li{display:table-cell;vertical-align:middle}
.form .fieldRange .rangeLabel{padding:0 10px}
button,.btn{border:0;background:0 0}
.btn{cursor:pointer;display:inline-block;font-size:13px;font-size:.8125rem;font-weight:400;margin:0;padding:.5em 1em;text-align:center;text-decoration:none}
.btnDefault{background:#ddd;border:1px solid #999;border-radius:3px}
body{background:#fff}
.container{margin:0 auto;max-width:960px;width:90%}
.logo{font-size:40px;font-size:2.5rem}
.footer .container{border-top:1px solid #999;padding:.5em 0 0}
.box,.form,.form .field,.h1,.h2,.h3,.h4,.h5,.h6,.listBordered,.listBulleted,.listInline,.listInlineDivider,.listOrdered,.media,.table,h1,h2,h3,h4,h5,h6,p{margin-bottom:1.5em;margin-top:1.5em}
table .media,table blockquote,table dl,table h1,table h2,table h3,table h4,table h5,table h6,table ol,table p,table pre,table ul{margin-bottom:0;margin-top:0}
.pan{padding:0!important}
.man{margin:0!important}
.pvn{padding-bottom:0!important;padding-top:0!important}
.mvn{margin-bottom:0!important;margin-top:0!important}
.phn{padding-left:0!important;padding-right:0!important}
.mhn{margin-left:0!important;margin-right:0!important}
.ptn{padding-top:0!important}
.mtn{margin-top:0!important}
.prn{padding-right:0!important}
.mrn{margin-right:0!important}
.pbn{padding-bottom:0!important}
.mbn{margin-bottom:0!important}
.pln{padding-left:0!important}
.mln{margin-left:0!important}
.pas{padding:5px!important}
.mas{margin:5px!important}
.mvs{margin-bottom:5px!important;margin-top:5px!important}
.phs{padding-left:5px!important;padding-right:5px!important}
.mhs{margin-left:5px!important;margin-right:5px!important}
.pts{padding-top:5px!important}
.mts{margin-top:5px!important}
.prs{padding-right:5px!important}
.mrs{margin-right:5px!important}
.pbs{padding-bottom:5px!important}
.mbs{margin-bottom:5px!important}
.pls{padding-left:5px!important}
.mls{margin-left:5px!important}
.pam{padding:7px!important}
.mam{margin:7px!important}
.pvm{padding-bottom:7px!important;padding-top:7px!important}
.mvm{margin-bottom:7px!important;margin-top:7px!important}
.phm{padding-left:7px!important;padding-right:7px!important}
.mhm{margin-left:7px!important;margin-right:7px!important}
.ptm{padding-top:7px!important}
.mtm{margin-top:7px!important}
.prm{padding-right:7px!important}
.mrm{margin-right:7px!important}
.pbm{padding-bottom:7px!important}
.mbm{margin-bottom:7px!important}
.plm{padding-left:7px!important}
.mlm{margin-left:7px!important}
.pal{padding:11px!important}
.mal{margin:11px!important}
.pvl{padding-bottom:11px!important;padding-top:11px!important}
.mvl{margin-bottom:11px!important;margin-top:11px!important}
.phl{padding-left:11px!important;padding-right:11px!important}
.mhl{margin-left:11px!important;margin-right:11px!important}
.ptl{padding-top:11px!important}
.mtl{margin-top:11px!important}
.prl{padding-right:11px!important}
.mrl{margin-right:11px!important}
.pbl{padding-bottom:11px!important}
.mbl{margin-bottom:11px!important}
.pll{padding-left:11px!important}
.mll{margin-left:11px!important}
.paxl{padding:21px!important}
.maxl{margin:21px!important}
.pvxl{padding-bottom:21px!important;padding-top:21px!important}
.mvxl{margin-bottom:21px!important;margin-top:21px!important}
.phxl{padding-left:21px!important;padding-right:21px!important}
.mhxl{margin-left:21px!important;margin-right:21px!important}
.ptxl{padding-top:21px!important}
.mtxl{margin-top:21px!important}
.prxl{padding-right:21px!important}
.mrxl{margin-right:21px!important}
.pbxl{padding-bottom:21px!important}
.mbxl{margin-bottom:21px!important}
.plxl{padding-left:21px!important}
.mlxl{margin-left:21px!important}
